*{
    scroll-behavior: smooth;
  }
  
  /* ===== Header ===== */
  .fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 300ms linear;
  }
  nav a{
    font-family: 'Montserrat',sans-serif;
    color: rgb(65,62,102); 
  }
  nav .navbar-brand{
    font-size: 36px;
    font-weight: 400;
  }
  nav .navbar-collapse ul li a{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s;
  }
  nav .navbar-collapse ul li a:hover{
    color: rgb(27,177,220);
  }
  .sec-1{
    background-image: url(../image/);
    height: 100vh;
    background-size: 100% 100%;
}
.sec-1{
    padding: 100px 0px;
}
.main-sec{
    padding: 100px 0px;
}
.info-2{
    margin-top: 100px;
    margin-right: 50px;
    margin-bottom: 10px;
}
.info-2 h2{
    font-size: 48px;
    font-weight: 700;
    color: #413e66;
}
.info-2 h2 span{
    color: #1bb1dc;
}

.btn{
    padding: 5px 25px;
    margin-top: 20px;
    font-size: 25px;
    background-color: #1bb1dc;
    border-color: #1bb1dc;
}
.btn:hover{
    background-color: #09a7d3;
    border-color: #09a7d3;
}
.sec-2{
    padding: 50px 0px;
}
.info-4 img{
    border: 15px rgb(255, 255, 255) solid;
    transition: all 0.5s;
}
.info-4 img:hover{
    transform: scale(1.03);
}
.info-4{
    position: relative;
}
.img-effect::before {
    content: "";
    width: 80%;
    height: 90%;
    background-color: #ebf1fa;
    position: absolute;
    z-index: -1;
    right: 20px;
    top: 95px;
}
.img-effect::after {
    content: "";
    width: 80%;
    height: 90%;
    background-color: #ebf1fa;
    position: absolute;
    z-index: -1;
    top: -21px;
    right: 123px;
}
.info-5 {
    color: #413e66;
}
.info-5 h1{
    font-weight: 700;
}
.info-5 i{
    color: #1bb1dc;
}
.info-5 em{
    color: #696592;
    margin: 30px 0px;
}
/* =======================================================sec2=============== */
.sec-3{
    padding: 50px 0px;
    background-color: #f5f8fd;
}
.titles-1{
    padding: 30px 0px;
}
.titles-1 h2{
    color: #413e66;
    font-weight: bold;
}
.info-6{
    padding: 20px 0px;
}
.icon-box{
    background-color: white;
    padding: 20px 10px;
    margin:15px 0px;
    transition: all 0.7s;
}
.icon-box div{
    margin: 10px 0px;
}
.icon-box i{
    font-size: 26px;
    border-radius: 50%;
    padding: 18px 20px;
}
.icon-box h4{
    margin: 20px 0px;
}
.icon-box h4 a{
    color: black ;
    transition: all 0.7s;
    font-weight: bold;
}
.icon-box:hover a{
    text-decoration: none;
    color: #1bb1dc;    
}
.icon-box:hover{
    transform: scale(1.05);
}
/* ==============================================================SEC============================== */
.sec-4{
    padding: 50px 0px;
}
.content-who div i{
    font-size: 30px;
    margin-top: 10px;
}
.content-who div{
    margin: 0px 10px;
    color: #413e66;
}
.content-who div p{
    font-size: 14px;
}

.info-7,.info-8{
    margin: 30px 0px;
}
.info-9{
    padding: 20px 0px;
}
.info-9 h2{
    font-weight: 700;
    font-size: 48px;
    color: #555186;
}
.info-9 p{
    color: #8a87b6;
}
/* ==============================section=============== */
.sec-5{
    padding: 40px 0px;
    background-color: #2d2b46

}
.call{
    margin: auto;
}
.call a{
    color: white;
    border: 4px solid white;
    padding: 10px 20px;
    font-weight: bolder;
    font-size: 20px;
    transition: ease-in-out 0.7s;

}
.call a:hover{
    color: white;
    border: 4px solid ;
    border-color: #1bb1dc;
    background-color: #1bb1dc;
    text-decoration: none;
}
.sec-5 h1{
    color: white;
    font-size: 32px;
    font-weight: bolder;
}
.sec-5 p{
    color: white;
}
.info-10{
    margin: 20px 0px;
}
/* ========================================section */
.sec-6{
    padding: 60px 0px;
    background-color: #f5f8fd;
}
/* ============================================= */
.sec-7{
    padding: 100px 0px;
}
/* =================================================== */
.sec-8{
    padding: 80px 0px;
    background-color: #f5f8fd;
}
.sec-8 .nav-tabs{
    margin: 20px 0px;
    border: none;
    justify-content: center;
}
.gallery .nav-link{
    border: none;
    color: #413e66;
    transition: 0.7s all ;
}
.gallery .nav-link:hover{
    color: #1bb1dc;
}
.gallery .nav-link:focus{
    color: #1bb1dc !important;
    background-color: transparent;
}
.gallery .active{
    background-color: transparent !important;
    color: #1bb1dc !important;
}
.coloumn-1 img{
    margin: 10px 5px;
}
.gutter{
    margin: 10px 0px;
}
/* ======================================sec=================================== */
.sec-9{
    padding: 80px 0px;

}
/* .info-17{
    padding: 30px 0px ;
} */
.prof-img img{
    width: 200px;
    border-radius: 50%;
    float: right;
}
.prof-info{
    margin-top: 20px;
}
.prof-info h3{
    font-weight: bold;
    font-size: 20px;
}
.prof-info h4{
    color: #999;
    font-size: 14px;
}
.prof-info p{
    color:black;
    font-style: italic;

}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -70px;
    left: 0;
}
.carousel-indicators li{
    background-color: #007bff;
    border-radius: 50%;
    width: 12px;
    height: 11px;

}
/* ================================================== */
.sec-10{
    padding: 60px 0px;
    background-color: #f5f8fd;
}
.info-13{
    padding: 30px 0px;
}
.img-team{
    position: relative;
    overflow: hidden;
    margin: 15px 0px;
}
.team-icons a{
    color: white;
    padding: 0px 5px;
}
.team-info{
    position: absolute;
    background-color: rgba(0, 0,0 , 50%);
    color: white;
    margin: 0px auto;
    padding: 20px 0px;
    width: 100%;
    bottom: -70px;
    transition: all 0.7s;
    text-align: center;
}
.team-info h4{
    font-weight: bold;
}
.img-team:hover .team-info{
    bottom: 0;

}
/* ==================================================== */
.sec-11{
    padding: 50px 0px;
}
.slider{
    margin: 20px auto;
}
.info-14 img{
    width: 10%;
}
/* ------------------------------------------------ */
.sec-12{
    padding: 60px 0px;
    background-color: #f5f8fd;
}
.info-16{
    padding: 40px 0px;
}
.price-card{
    margin: 10px 0px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.10);
    padding: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.7s;
}
.price-card:hover{
    transform: scale(1.02);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.20)!important;
}
.price-card::before{
    content: "";
    width: 100%;
    background-color: #1bb1dc;
    height: 5px;
    position: absolute;
    top: 0%;
    left: -100%;
    transition: all 0.7s;
}
.price-card:hover::before{
    left: 0%;
}
.price-info{
    color: #555186;

}
.price-info .type{
    position: relative;
    font-size: 28px;
    top: -25px;
}
.price-info .price{
    font-size: 48px;
    /* font-weight: bold; */
}
.price-info .plan{
    font-size: 26px;
}
.price-info .btn{
    font-size: 14px;
    font-weight: 400;
    padding: 5px 10px;
    text-transform: uppercase;
}
/* ====================================================================section======================================= */
.sec-13{
    padding: 60px 0px;
}
.accordion{
    border: none;
}
.sec-13 .card-header{
    background-color: transparent;
}
.sec-13 a{
    background-color: transparent;
    border-color: transparent;
    margin: 0px;
    font-size: 20px;
    padding: 0;
    color: #2d2b46;
    font-size: 18px;
    transition: all 0.7s;
    border: none !important;
}
.sec-13 a:hover{
    color: #1bb1dc;
    background-color: transparent !important;
    text-decoration: none;
    border: none !important;
}
.sec-13 a:focus{
    border: none !important;
}
.sec-13 a:active{
    border: none !important;
}

.sec-13 .card{
    border: none;
    border-bottom:  solid 1px !important;
    border-color: rgba(45, 43, 70 , 0.125) !important;
}
/* ==================================== */
footer{
    padding: 50px 0px;
    background-color: #f5f8fd;
}
.info-17{
    color: #555186;
}
.info-17 h4{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 3px;
}
.info-17 p{
    margin-bottom: 30px;
    font-size: 14px;
}
.info-17 button{
    font-size: 16px;
    margin: 0px;
    color: white;
    margin-left: -30px !important;
    padding: 6px 10px;
}
.info-17 button:hover{
    color: white;
}


.info-18 h3{
    color: #555186;
    font-weight: bolder;
    font-size: 15px;
}
.info-18 ul{
    list-style-type: none;
    padding: 0px;
    margin: 20px 0px;
}
.info-18 ul li{
    padding: 3px 0px;
}
.info-18 ul li a{
    color: #555186;
    transition: all  0.7s ;
}
.info-18 ul li a:hover{
    text-decoration: none;
    color: #1bb1dc;
}
.info-18 p{
    margin: 0px;
    font-size: 15px;
}
.info-18 .foot-icons{
    margin: 10px 0px;
}
.foot-icons i{
    padding: 0px 2px;
    color: #555186;
    transition: all 0.7s;
}
.foot-icons i:hover{
    color: #1bb1dc;
}
.info-19 h4{ 
    color: #555186;
    font-weight: bolder;
    font-size: 15px;
}
.info-19 p{
    font-size: 14px;
}
.info-19 div{
    margin: 15px 0px;
}
.info-19 button{
    font-size: 16px;
    margin: 0px;
    color: white;
    margin-left: -30px !important;
    padding: 6px 30px;
}
.info-19 button:hover{
    color: white;
}
/* ================================================Foot============================ */
.copyrights{
    padding: 25px 0px;
    background-color: white;
}
.copyrights p{
    margin: 0;
}


@media (max-width:1280px) {
    .img-effect::before {
        content: "";
        width: 80%;
        height: 90%;
        background-color: #ebf1fa;
        position: absolute;
        z-index: -1;
        right: 0px;
        top: 80px;
    
    }
    .img-effect::after {
        content: "";
        width: 80%;
        height: 90%;
        background-color: #ebf1fa;
        position: absolute;
        z-index: -1;
        top: -15px;
        right: 97px;
    }
}

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }   
}

@media (max-width:1100px) {
    #home{
        height: auto;
    }
    .img-effect::before {
        content: "";
        width: 80%;
        height: 90%;
        background-color: #ebf1fa;
        position: absolute;
        z-index: -1;
        right: 0px;
        top: 45px;
    }
    .img-effect::after {
        content: "";
        width: 80%;
        height: 90%;
        background-color: #ebf1fa;
        position: absolute;
        z-index: -1;
        top: -15px;
        right: 80px;
    }
    
}

@media(max-width:960px){
    .bars{
        display: block;
        margin: 15px 0px;
    }
    .bars i{
        color: #413e66;
    }
    .lists{
        display: none;
    }
    .main-sec{
        padding: 0px;
        padding-bottom: 20px;

    }
    .sec-1{
        padding: 0px;
    }
    #home{
        height: auto;
    }
    nav{
        padding: 10px 0px;
    }
    .info-3{
        padding-top: 100px;
        width: 80%;
        margin: 0px auto;
    }
    .info-2{
        text-align: center;
        margin: 30px auto;
    }
    .info-2 h2{
        font-size: 32px;
        text-align: center;
    }
    .img-effect::after {
        content: "";
        width: 50%;
        height: 90%;
        background-color: #ebf1fa;
        position: absolute;
        z-index: -1;
        top: -13px;
        left: 0
    }
    .img-effect::before {
        content: "";
        width: 50%;
        height: 90%;
        background-color: #ebf1fa;
        position: absolute;
        z-index: -1;
        right: 194px;
        top: 90px;
    }
    .prof-img img{
        float: left;
    }

}
@media (max-width:750px) {
    .img-effect::before {
        content: "";
        width: 44%;
        height: 90%;
        background-color: #ebf1fa;
        position: absolute;
        z-index: -1;
        right: 5px;
        top: 60px;
    }
    .img-effect::after {
        content: "";
        width: 50%;
        height: 90%;
        background-color: #ebf1fa;
        position: absolute;
        z-index: -1;
        top: -13px;
        left: 5px;
    }

}